<meta charset="utf-8" />
<meta name="alexaVerifyID" content="zFF03sccwKUOtDsUA-ms274rqHs" />
<meta name="description" content="<!--{$SiteData.meta.desc}-->" />
<meta name="verifyownership" content="46d29a4a0f72b4dd0a7f43c0a35f2284" />
<!--[if ie]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,requiresActiveX=true" /><![endif]-->
<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png" />
<link rel="shortcut icon" type=image/x-icon href="/favicon.ico" />
<link rel=icon type=image/ico href="./favicon.ico" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<!--{*  
<meta property="og:title" content="" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
*}-->
<link rel="shortlink" href="http://goo.gl/vNUZ3i">
<link rel="pingback" href="http://pergenproductions.com?action=pingback" />
<link rel="author" href="/humans.txt" />
<meta name="dcterms.title" content="" /> 	
<meta name="designer" content="Mexo Inc" /> 
<meta name="dcterms.dateCopyrighted" content="Copyright 2012" /> 
<meta name="dc.language" content="en" />
<meta name="robots" content="index, follow" />	 
<meta name="google-site-verification" content="" /> 
<meta name="msvalidate.01" content="" />
<meta name="y_key" content="" />
<link rel="canonical" href="<!--{$pagePath}-->" />
<!--[if IE]><meta http-equiv="imagetoolbar" content="no" /><![endif]-->
