<div class="main-content homepage clearfix">
				<div class="wrapper">
					<div class="row">
						<figure class="col-xs-12 col-sm-6 col-md-5 img-container">
							<img src="style/images/homepage/figure-tory-rob.png" alt="Tory Woodward and Robert">
						</figure>
						<section class="col-xs-12 col-sm-6 col-md-7 home-content">
							<p>What we do is not a secret recipe, our formula is simple. We take the knowledge and experience gained over the past 15 years in weight training, sports, personal training and nutrition and apply it to help Bay Area residents shed pounds of fat and gain lean muscle. We have helped doctors, lawyers, high school and college athletes, Silicon Valley engineers, new mothers and many others achieve their goals.</p>
							<hgroup>
								<h3>Tory Woodward &amp; Robs</h3>
								<h2>Now Taking New Clients</h2>
							</hgroup>
							<a href="javascript:;" class="btn btn-big">Register Now</a>
							<nav class="social-links">
								<a href="<!--{$SiteData.urls.external.facebook}-->" class="icon-facebook"></a>
								<a href="<!--{$SiteData.urls.external.twitter}-->" class="icon-twitter"></a>
								<a href="<!--{$SiteData.urls.external.instagram}-->" class="icon-instagram"></a>
								<a href="<!--{$SiteData.urls.external.youtube}-->" class="icon-youtube"></a>
							</nav>
						</section>
					</div>
				</div>
			</div>