<link rel="stylesheet" href="<!--{$stylePath}-->pdf-plan.css?v=1">
			<div class="main-content inner-page clearfix">
				<div class="wrapper">
					<div class="plan-header">
						<h2>1 Month Diet Plan</h2>
						<p>Competitor/Athlete Weight Loss Regiment</p>
					</div>
					<div class="plan-content">
						<h3>Objective</h3>
						<p>For the next several weeks you will be placed and monitored on a 3-day carb cycle in order to decrease weight and gain muscle size.  You will push yourself daily and consume the needed nutrition in order to succeed toward your end goal of being in <strong>the best shape possible</strong>.  Over the next 4 weeks you will incorporate different nutrition and workout techniques in order to achieve the best you.</p>

						<h3>Directions</h3>
						<ul class="bullet-list">
							<li>You will perform all movements and exercises given.</li>
							<li>All meals and supplements will be consumed in a timely manner throughout your day.</li>
							<li>Progress update pictures will be sent in weekly to my cell phone number for any corrections in diet, cardio and/or exercises if needed.  You will include a front, side and back pics of yourself first thing in the morning. You will provide your weight, how you feel, if all meals were consumed, and if all exercises and cardio were performed.</li>
							110% effort must and will be given at all times!!</li>
						</ul>

						<h3>Diet</h3>
						<p>Will be followed starting immediately 12/30/2013 to 01/27/2014. All meals should be consumed daily and no meals will be skipped or missed. I suggest keeping yourself on a routine and eating every 2-3 hour increments.  Per our conversation and stats provided, we have designed a plan in order for you to loose weight within a desired time frame.  These techniques might change depending on your weekly progress pics, and changes will be provided accordingly.  NO CHEAT MEALS FROM THIS POINT MOVING FORWARD WITHOUT THE OK OF MYSELF OR TORY.  Please see <strong>Diet Day 1 - Meal 5</strong></p>

						<h3>Workouts</h3>
						<p>For the first 4 weeks you will be on a 5/2 day split.  You will perform a 5 days consecutive training followed by a 2 days off period.   All exercises will be performed in a 45min to 1-hour window MAX, with rest periods of 45-60 sec in between sets. Exercises should be done in a calm, steady and controlled manner.  Remember to always lift heavy but NEVER sacrifice form or function.  Any questions on technique you should refer to a trainer, GOOGLE or YOUTUBE. Please see <strong>page 9-11</strong></p>

						<h3>Cardio</h3>
						<p>Cardio will be monitored closely weekly, as the majority of weight loss will be acquired by diet changes.  That being said cardio will be done 5 days per week on treadmill with an incline of 15% and speed of 3-5 mph.  Make sure you pay attention to your heart rate.  Your stats suggest that 135-150 bpm is the range required for healthy heart. Please see <strong>page 9-11</strong></p>

						<h3>Supplement List</h3>
						<p>Over the counter supplements are recommended but not required. If you are a local athlete please ask about discount rates at our local team supplement shop. Please see <strong>page 11</strong></p>

					</div>
				</div>
			</div>