			<div class="main-content inner-page clearfix">
				<div class="wrapper">
					<div class="plan-header">
						<h2>1 Month Diet Plan</h2>
						<p>Competitor/Athlete Weight Loss Regiment</p>
					</div>
					<div class="plan-content">
						<h3>Objective</h3>
						<p>For the next several weeks you will be placed and monitored on a 3-day carb cycle in order to decrease weight and gain muscle size.  You will push yourself daily and consume the needed nutrition in order to succeed toward your end goal of being in <strong>the best shape possible</strong>.  Over the next 4 weeks you will incorporate different nutrition and workout techniques in order to achieve the best you.</p>

						<h3>Directions</h3>
						<ul class="bullet-list">
							<li>You will perform all movements and exercises given.</li>
							<li>All meals and supplements will be consumed in a timely manner throughout your day.</li>
							<li>Progress update pictures will be sent in weekly to my cell phone number for any corrections in diet, cardio and/or exercises if needed.  You will include a front, side and back pics of yourself first thing in the morning. You will provide your weight, how you feel, if all meals were consumed, and if all exercises and cardio were performed.</li>
							110% effort must and will be given at all times!!</li>
						</ul>

						<h3>Diet</h3>
						<p>Will be followed starting immediately 12/30/2013 to 01/27/2014. All meals should be consumed daily and no meals will be skipped or missed. I suggest keeping yourself on a routine and eating every 2-3 hour increments.  Per our conversation and stats provided, we have designed a plan in order for you to loose weight within a desired time frame.  These techniques might change depending on your weekly progress pics, and changes will be provided accordingly.  NO CHEAT MEALS FROM THIS POINT MOVING FORWARD WITHOUT THE OK OF MYSELF OR TORY.  Please see <strong>Diet Day 1 - Meal 5</strong></p>

						<h3>Workouts</h3>
						<p>For the first 4 weeks you will be on a 5/2 day split.  You will perform a 5 days consecutive training followed by a 2 days off period.   All exercises will be performed in a 45min to 1-hour window MAX, with rest periods of 45-60 sec in between sets. Exercises should be done in a calm, steady and controlled manner.  Remember to always lift heavy but NEVER sacrifice form or function.  Any questions on technique you should refer to a trainer, GOOGLE or YOUTUBE. Please see <strong>page 9-11</strong></p>

						<h3>Cardio</h3>
						<p>Cardio will be monitored closely weekly, as the majority of weight loss will be acquired by diet changes.  That being said cardio will be done 5 days per week on treadmill with an incline of 15% and speed of 3-5 mph.  Make sure you pay attention to your heart rate.  Your stats suggest that 135-150 bpm is the range required for healthy heart. Please see <strong>page 9-11</strong></p>

						<h3>Supplement List</h3>
						<p>Over the counter supplements are recommended but not required. If you are a local athlete please ask about discount rates at our local team supplement shop. Please see <strong>page 11</strong></p>

						<div class="table-container">
							<hgroup>
								<h2>DIET DAY 1</h2>
								<h5>
									<span>protein-201g</span>
									<span>carbs-288g</span>
									<span>fats-64g</span>
									<span>fiber-31-39g</span>
								</h5>
							</hgroup>
							<table class="table-bluestyle" border="0" cellpadding="10" cellspacing="0">
								<thead>
									<tr>
										<th>Meals</th>
										<th>Includes</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Meal 1</td>
										<td>
											<ul>
												<li><label>Protein</label> 5 egg whites + 2 whole eggs</li>
												<li><label>Carbs</label> 1.75 cup of oatmeal</li>
												<li><label>Fiber</label> 1tbsn Metamucil</li>
												<li><label>Fats</label></li>
											</ul>
										</td>
									</tr>
									<tr>
										<td>Meal 2</td>
										<td>
											<ul>
												<li><label>Protein</label> 6oz chicken breast</li>
												<li><label>Carbs</label> 1.25 cup of white rice</li>
												<li><label>Fiber</label> 1 cup of broccoli</li>
												<li><label>Fats</label></li>
											</ul>
										</td>
									</tr>
									<tr>
										<td>Meal 3</td>
										<td>
											<ul>
												<li><label>Protein</label> 5oz top sirloin steak</li>
												<li><label>Carbs</label> 1.25 of white rice</li>
												<li><label>Fiber</label> 8 large spears of asparagus</li>
												<li><label>Fats</label></li>
											</ul>
										</td>
									</tr>
									<tr>
										<td>Meal 4</td>
										<td>
											<ul>
												<li><label>Protein</label> 1.5 scoops Syntha6</li>
												<li><label>Carbs</label> </li>
												<li><label>Fiber</label></li>
												<li><label>Fats</label></li>
											</ul>
										</td>
									</tr>
									<tr>
										<td>Meal 5</td>
										<td>
											<ul>
												<li><label>Protein</label> 4oz top sirloin</li>
												<li><label>Carbs</label> 1.25cup white rice</li>
												<li><label>Fiber</label> 1cup broccoli</li>
												<li><label>Fats</label></li>
											</ul>
										</td>
									</tr>
									<tr>
										<td>Meal 6</td>
										<td>
											<ul>
												<li><label>Protein</label> </li>
												<li><label>Carbs</label> </li>
												<li><label>Fiber</label> 1tbsn of Metamucil</li>
												<li><label>Fats</label></li>
											</ul>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="table-container">
							<hgroup>
								<h2>DIET DAY 2</h2>
								<h5>
									<span>protein-201g</span>
									<span>carbs-288g</span>
									<span>fats-64g</span>
									<span>fiber-31-39g</span>
								</h5>
							</hgroup>
							<table class="table-bluestyle" border="0" cellpadding="10" cellspacing="0">
								<thead>
									<tr>
										<th>Meals</th>
										<th>Includes</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Meal 1</td>
										<td>
											<ul>
												<li><label>Protein</label> 5 egg whites + 2 whole eggs</li>
												<li><label>Carbs</label> 1.75 cup of oatmeal</li>
												<li><label>Fiber</label> 1tbsn Metamucil</li>
												<li><label>Fats</label></li>
											</ul>
										</td>
									</tr>
									<tr>
										<td>Meal 2</td>
										<td>
											<ul>
												<li><label>Protein</label> 6oz chicken breast</li>
												<li><label>Carbs</label> 1.25 cup of white rice</li>
												<li><label>Fiber</label> 1 cup of broccoli</li>
												<li><label>Fats</label></li>
											</ul>
										</td>
									</tr>
									<tr>
										<td>Meal 3</td>
										<td>
											<ul>
												<li><label>Protein</label> 5oz top sirloin steak</li>
												<li><label>Carbs</label> 1.25 of white rice</li>
												<li><label>Fiber</label> 8 large spears of asparagus</li>
												<li><label>Fats</label></li>
											</ul>
										</td>
									</tr>
									<tr>
										<td>Meal 4</td>
										<td>
											<ul>
												<li><label>Protein</label> 1.5 scoops Syntha6</li>
												<li><label>Carbs</label> </li>
												<li><label>Fiber</label></li>
												<li><label>Fats</label></li>
											</ul>
										</td>
									</tr>
									<tr>
										<td>Meal 5</td>
										<td>
											<ul>
												<li><label>Protein</label> 4oz top sirloin</li>
												<li><label>Carbs</label> 1.25cup white rice</li>
												<li><label>Fiber</label> 1cup broccoli</li>
												<li><label>Fats</label></li>
											</ul>
										</td>
									</tr>
									<tr>
										<td>Meal 6</td>
										<td>
											<ul>
												<li><label>Protein</label> </li>
												<li><label>Carbs</label> </li>
												<li><label>Fiber</label> 1tbsn of Metamucil</li>
												<li><label>Fats</label></li>
											</ul>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="table-container">
							<hgroup>
								<h2>DIET DAY 3</h2>
								<h5>
									<span>protein-201g</span>
									<span>carbs-288g</span>
									<span>fats-64g</span>
									<span>fiber-31-39g</span>
								</h5>
							</hgroup>
							<table class="table-bluestyle" border="0" cellpadding="10" cellspacing="0">
								<thead>
									<tr>
										<th>Meals</th>
										<th>Includes</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Meal 1</td>
										<td>
											<ul>
												<li><label>Protein</label> 5 egg whites + 2 whole eggs</li>
												<li><label>Carbs</label> 1.75 cup of oatmeal</li>
												<li><label>Fiber</label> 1tbsn Metamucil</li>
												<li><label>Fats</label></li>
											</ul>
										</td>
									</tr>
									<tr>
										<td>Meal 2</td>
										<td>
											<ul>
												<li><label>Protein</label> 6oz chicken breast</li>
												<li><label>Carbs</label> 1.25 cup of white rice</li>
												<li><label>Fiber</label> 1 cup of broccoli</li>
												<li><label>Fats</label></li>
											</ul>
										</td>
									</tr>
									<tr>
										<td>Meal 3</td>
										<td>
											<ul>
												<li><label>Protein</label> 5oz top sirloin steak</li>
												<li><label>Carbs</label> 1.25 of white rice</li>
												<li><label>Fiber</label> 8 large spears of asparagus</li>
												<li><label>Fats</label></li>
											</ul>
										</td>
									</tr>
									<tr>
										<td>Meal 4</td>
										<td>
											<ul>
												<li><label>Protein</label> 1.5 scoops Syntha6</li>
												<li><label>Carbs</label> </li>
												<li><label>Fiber</label></li>
												<li><label>Fats</label></li>
											</ul>
										</td>
									</tr>
									<tr>
										<td>Meal 5</td>
										<td>
											<ul>
												<li><label>Protein</label> 4oz top sirloin</li>
												<li><label>Carbs</label> 1.25cup white rice</li>
												<li><label>Fiber</label> 1cup broccoli</li>
												<li><label>Fats</label></li>
											</ul>
										</td>
									</tr>
									<tr>
										<td>Meal 6</td>
										<td>
											<ul>
												<li><label>Protein</label> </li>
												<li><label>Carbs</label> </li>
												<li><label>Fiber</label> 1tbsn of Metamucil</li>
												<li><label>Fats</label></li>
											</ul>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<hr/>
						<div class="table-container">
							<hgroup>
								<h2>Macronutrient Count</h2>
							</hgroup>
							<table class="table-macronutrient" border="0" cellpadding="10" cellspacing="0">
								<thead>
									<tr>
										<th></th>
										<th>Protein</th>
										<th>Carbs</th>
										<th>Fats</th>
										<th>Fiber</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="head-color">
											<h4>Day 1</h4>
											High Carbs<br/>
											Low Protein
										</td>
										<td>201g</td>
										<td>288g</td>
										<td>50g</td>
										<td>31-40g</td>
									</tr>
									<tr>
										<td class="head-color">
											<h4>Day 2</h4>
											High Carbs<br/>
											Low Protein
										</td>
										<td>289g</td>
										<td>158g</td>
										<td>50g</td>
										<td>31-40g</td>
									</tr>
									<tr>
										<td class="head-color">
											<h4>Day 3</h4>
											High Carbs<br/>
											Low Protein
										</td>
										<td>360g</td>
										<td>54g</td>
										<td>63g</td>
										<td>12-21g</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="5">
											<h4>Reminders:</h4>
											<ul class="check-list">
												<li>All food weighed after cooking</li>
												<li>Small food scale, measuring cups, and measuring spoons will be needed </li>
												<li>Prep meals in advance- personally I prep on Sundays for 3 days out.</li>
												<li>Always carry 2 meal replacement/mass gainer shakes depending on goal and specified by me.</li>
												<li>Measure and weigh all food since all food carries macros that could and will affect the end result.</li>
												<li>Salt intake will be cut at the end for now, enjoy</li>
												<li>Schedule your meals in order to fit your lifestyle, gym workouts and life.  I recommend every 2-3 hours</li>
											</ul>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>

						<div class="table-container">
							<hgroup>
								<h2>Food Count</h2>
							</hgroup>
							<table class="table-macronutrient" border="0" cellpadding="10" cellspacing="0">
								<thead>
									<tr>
										<th>Source</th>
										<th>Protein</th>
										<th>Carbs</th>
										<th>Fats</th>
										<th>Fiber</th>
									</tr>
								</thead>
								<tbody>

									<tr>
										<td class="head-color">FLANK STEAK 4oz</td>
										<td>25g</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td class="head-color">CHICKEN BREAST 4oz</td>
										<td>26g</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td class="head-color">TILAPIA 4oz</td>
										<td>23g</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td class="head-color">SWAI 4oz</td>
										<td>21g</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td class="head-color">EGG WHITES 1</td>
										<td>3g</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>

									<tr class="heading-row">
										<td></td>
										<td></td>
										<td>Carbs</td>
										<td></td>
										<td></td>
									</tr>

									<tr>
										<td class="head-color">RICE 1cup</td>
										<td></td>
										<td>45g</td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td class="head-color">SWEET POTATOES 4oz</td>
										<td></td>
										<td>23g</td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td class="head-color">WHITE POTATOES 4oz</td>
										<td></td>
										<td>24g</td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td class="head-color">YAMS 4oz</td>
										<td></td>
										<td>21g</td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td class="head-color">OATS 1cup</td>
										<td></td>
										<td>45g</td>
										<td></td>
										<td></td>
									</tr>

									<tr class="heading-row">
										<td></td>
										<td></td>
										<td></td>
										<td>Fats</td>
										<td></td>
									</tr>

									<tr>
										<td class="head-color">ALMOND BUTTER 1tbsp</td>
										<td></td>
										<td></td>
										<td>10g</td>
										<td></td>
									</tr>
									<tr>
										<td class="head-color">PEANUT BUTTER 1tbsp</td>
										<td></td>
										<td></td>
										<td>9g</td>
										<td></td>
									</tr>
									<tr>
										<td class="head-color">ALMONDS 1 handful/1oz</td>
										<td></td>
										<td></td>
										<td>16g</td>
										<td></td>
									</tr>
									<tr>
										<td class="head-color">AVOCADO 1/2 serving</td>
										<td></td>
										<td></td>
										<td>15g</td>
										<td></td>
									</tr>
									<tr>
										<td class="head-color">OLIVE OIL 1tbsp</td>
										<td></td>
										<td></td>
										<td>14g</td>
										<td></td>
									</tr>
									<tr>
										<td class="head-color">CASHEW BUTTER 1tbsp</td>
										<td></td>
										<td></td>
										<td>8g</td>
										<td></td>
									</tr>
									<tr>
										<td class="head-color">CASHEWS 1 handful/1oz</td>
										<td></td>
										<td></td>
										<td>13g</td>
										<td></td>
									</tr>

									<tr class="heading-row">
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td>Fiber</td>
									</tr>

									<tr>
										<td class="head-color">BROCCOLI 1 cup</td>
										<td></td>
										<td></td>
										<td></td>
										<td>3g</td>
									</tr>
									<tr>
										<td class="head-color">ASPARAGUS 8 spears</td>
										<td></td>
										<td></td>
										<td></td>
										<td>3g</td>
									</tr>
									<tr>
										<td class="head-color">GREEN BEANS 1 cup</td>
										<td></td>
										<td></td>
										<td></td>
										<td>4g</td>
									</tr>

								</tbody>
							</table>
						</div>



						<div class="table-container">
							<hgroup>
								<h2>Exercise Plan</h2>
							</hgroup>
							<table class="table-bluestyle" border="0" cellpadding="10" cellspacing="0">
								<thead>
									<tr>
										<th class="col-days">Days</th>
										<th>Workouts</th>
										<th class="col-times">Times</th>
									</tr>
								</thead>
								<tbody>
									<!-- Day1 -->
									<tr>
										<td rowspan="7">
											<h4>Day 1</h4>
											QUADS AND HAMMIES - LEG DAY
										</td>
									</tr>

									<tr>
										<td>Seated leg extensions</td>
										<td>2x12-15 warm up 4x10-12</td>
									</tr>
									<tr>
										<td>Seated Leg Press</td>
										<td>4x10-12</td>
									</tr>
									<tr>
										<td>Smith Squat Machine</td>
										<td>4x10-12</td>
									</tr>
									<tr>
										<td>Seated leg curls</td>
										<td>4x10-12</td>
									</tr>
									<tr>
										<td>Lying leg curls</td>
										<td>4x10-12</td>
									</tr>
									<tr>
										<td colspan="2">CARDIO: TREADMILL 30MIN 15%INCLINE 2.5-3.5MPH</td>
									</tr>

									<!-- Day2 -->
									<tr>
										<td rowspan="9">
											<h4>Day 2</h4>
											CHEST AND CALVES
										</td>
									</tr>

									<tr>
										<td>Machine Flys</td>
										<td>2x12-15 warm up 4x10-12</td>
									</tr>
									<tr>
										<td>Incline Dumbbell/Machine/Barbell</td>
										<td>4x10-12</td>
									</tr>
									<tr>
										<td>Flat Dumbbell/Machine/Barbell</td>
										<td>4x10-12</td>
									</tr>
									<tr>
										<td>Decline Dumbbell/Machine/Barbell</td>
										<td>4x10-12</td>
									</tr>
									<tr>
										<td>Standing single leg curls</td>
										<td>4x10-12</td>
									</tr>
									<tr>
										<td>Standing Calve Machine - Superset</td>
										<td>5x10-12</td>
									</tr>
									<tr>
										<td>Seated Calve Machine</td>
										<td>5x10-12</td>
									</tr>
									<tr>
										<td colspan="2">CARDIO: TREADMILL 30MIN 15%INCLINE 2.5-3.5MPH</td>
									</tr>


									<!-- Day3 -->
									<tr>
										<td rowspan="7">
											<h4>Day 3</h4>
											UPPER, MID AND LOWER- BACK DAY
										</td>
									</tr>

									<tr>
										<td>Pullups</td>
										<td>4x10-12</td>
									</tr>
									<tr>
										<td>Front Lat Pull down</td>
										<td>4x10-12</td>
									</tr>
									<tr>
										<td>Row Machine</td>
										<td>4x10-12</td>
									</tr>
									<tr>
										<td>Low Row Machine</td>
										<td>4x10-12</td>
									</tr>
									<tr>
										<td>Bent over rows/T-Bar</td>
										<td>4x10-12</td>
									</tr>
									<tr>
										<td colspan="2">CARDIO: TREADMILL 30MIN 15%INCLINE 2.5-3.5MPH</td>
									</tr>


									<!-- Day4 -->
									<tr>
										<td rowspan="7">
											<h4>Day 4</h4>
											SHOULDER, TRAPZ DAY
										</td>
									</tr>

									<tr>
										<td>Side lateral Raises </td>
										<td>2x12-15 warm-up 4x10-12</td>
									</tr>
									<tr>
										<td>Machine Front Delt Presses</td>
										<td>4x10-12</td>
									</tr>
									<tr>
										<td>EZ-Bar Close Underhand Delt Raises</td>
										<td>4x10-12</td>
									</tr>
									<tr>
										<td>Reverse Rear Delt Extension</td>
										<td>4x10-12</td>
									</tr>
									<tr>
										<td>Dumbbell Front Shrugs</td>
										<td>6x10</td>
									</tr>
									<tr>
										<td colspan="2">CARDIO: TREADMILL 30MIN 15%INCLINE 2.5-3.5MPH</td>
									</tr>

									<!-- Day5 -->
									<tr>
										<td rowspan="8">
											<h4>Day 5</h4>
											BICEPS AND TRICEPS-ARM DAY
										</td>
									</tr>

									<tr>
										<td>EZ-Bar Curl</td>
										<td>2x12-15 warm-up 4x10-12</td>
									</tr>
									<tr>
										<td>EZ-Bar Tricep Extension</td>
										<td>4x10-12</td>
									</tr>
									<tr>
										<td>45o Incline Alternate Dumbbell Curl</td>
										<td>4x20-24</td>
									</tr>
									<tr>
										<td>Skull crusher</td>
										<td>4x10-12</td>
									</tr>
									<tr>
										<td>Machine Rope Curl</td>
										<td>6x10</td>
									</tr>
									<tr>
										<td>Overhead Dumbbell Tricep Extension</td>
										<td>6x10</td>
									</tr>
									<tr>
										<td colspan="2">CARDIO: TREADMILL 30MIN 15%INCLINE 2.5-3.5MPH</td>
									</tr>


									<!-- Day6-7 -->
									<tr>
										<td rowspan="8">
											<h4>Day 6-7</h4>
											REST DAY
										</td>
									</tr>
									<tr>
										<td colspan="2">Have fun!</td>
									</tr>

								</tbody>
								<tfoot>
									<tr>
										<td colspan="3">
											<h4>Remember:</h4>
											<ul class="bullet-list">
												<li>Push for 2 gallons of water daily</li>
												<li>Make sure to ask or research proper gym equipment usage before performing any exercises…Google is my best friend< make it yours.</li>
												<li>Workouts are tailored for use with or a non-spotter. Always push heavy weight but never sacrifice form/function over heavy weights</li>
												<li>Workouts are made to be intense keep workouts max 1 hour</li>
												<li>Rest is crucial in this game; make sure you're in and out.</li>
											</ul>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>


						<h3>Supplement</h3>
						<p>Are suggested and recommended but not needed.  Run ALL supplementation use by me.  In any case of supplementation consult your physician before taking. </p>

						<ul class="bullet-list">
							<li>Glutamine</li>
							<li>BCAA</li>
							<li>Fish Oils</li>
							<li>Creatine</li>
							<li>Preworkout</li>
							<li>Protein shakes </li>
							<li>Digestive Enzymes </li>
							<li>Meal Replacements Shakes</li>
							<li>Mass Gainer Shakes</li>
							<li>Multi Vitamins with emphasize on vitamin C&D</li>
						</ul>

						<h3>Meal Prepping Allowance</h3>
						<ul class="bullet-list">
							<li>Olive Oil</li>
							<li>Pam</li>
							<li>Salt, Pepper</li>
							<li>Mrs Dash seasoning</li>
							<li>Grill, Broil, Crock Pot, BBQ, and/or pan cooked</li>
							<li>Any type of seasoning that does not add sugar and is calorie free</li>
						</ul>

						<hr/>

						<h3>Disclaimer</h3>
						<p>Any or all recommendations should be consulted with your doctor and/or healthcare provider. We (Robert Ortiz and Tory Woodward) are not doctors and all information provided is based on our experiences as athletes and personal training. Individual results will vary from person to person depending on level of desire and ability to take action. Every meal plan is catered to each unique individual and should not be shared with anyone else. We will make every effort to make sure you achieve your goal however we are not responsible for any failures and results will not be guaranteed. </p>

						<p>By signing this acknowledgement, I_____________________ understand that I am assuming all risks involved. I am physically fit and able to participate in these activities. I understand that Robert Ortiz and Tory Woodward do not provide insurance to me. I am solely responsible for securing my own health insurance coverage. I understand and agree to the terms of this consent and release any liability from Robert Ortiz and Tory Woodward.  I acknowledge my responsibilities and have received a copy of this same document. </p>

						<p>_________________________________ATHLETE SIGNATURE</p>
						<p>_________________________________PARENTAL SIGNATURE (-18 ONLY)</p>
					</div>
				</div>
			</div>