<link rel="stylesheet" href="<!--{$stylePath}-->plans-inner.css?v=1">
			<div class="main-content inner-page clearfix">
				<div class="wrapper">
					<div class="plan-header">
						<h2>Premium Plan Features</h2>
						<p>Custom Diet Plan and Workout and One O One with Tory woodward & Robert Ortiz</p>
					</div>
					<div class="plan-features">
						<div class="row">
							<div class="col-sm-12 col-md-4 col-lg-3">
								<div class="item-box">
									<label></label>
									<figure>
										<img src="<!--{$imagePath}-->plans/pic-ifbb.jpg" alt="Unlimited consultation with trainers">
									</figure>
									<section>
										<h3>Unlimited consultation with trainers</h3>
										<p>Donec vel erat in enim gravida sollicitudin vel vel mauris. Mauris varius rutrum ligula ut porta.</p>
									</section>
								</div>
							</div>
							
							<div class="col-sm-12 col-md-4 col-lg-3">
								<div class="item-box">
									<label></label>
									<figure>
										<img src="<!--{$imagePath}-->plans/pic-diet-plan.jpg" alt="Custom diet plan">
									</figure>
									<section>
										<h3>Custom diet plan</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac odio ac nisi gravida faucibus a ut massa.</p>
									</section>
								</div>
							</div>
							
							<div class="col-sm-12 col-md-4 col-lg-3">
								<div class="item-box">
									<label></label>
									<figure>
										<img src="<!--{$imagePath}-->plans/pic-working-program.jpg" alt="Custom working program">
									</figure>
									<section>
										<h3>Custom working program</h3>
										<ul class="check-list">
											<li>Lorem ipsum dolor sit amet
											<li>Consectetur adipiscing elit</li>
											<li>Phasellus ac odio ac nisi</li>
											<li>Gravida faucibus a ut massa</li>
										</ul>
									</section>
								</div>
							</div>
							
							<div class="col-sm-12 col-md-4 col-lg-3">
								<div class="item-box">
									<label></label>
									<figure>
										<img src="<!--{$imagePath}-->plans/pic-personal-trainer.jpg" alt="Personal Trainer">
									</figure>
									<section>
										<h3>Personal Trainer</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac odio ac nisi gravida faucibus a ut massa.</p>
									</section>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 col-md-4 col-lg-3">
								<div class="item-box">
									<label></label>
									<figure>
										<img src="<!--{$imagePath}-->plans/pic-free-tshirt.jpg" alt="Free Westca T-Shirt">
									</figure>
									<section>
										<h3>Free Westca T-Shirt</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac odio ac nisi gravida faucibus a ut massa.</p>
									</section>
								</div>
							</div>
						</div>
					</div>
					
					<div class="payment-section">
						<header>
							<p>Want to Have this Plan?</p>
							<h2>Choose Your Payment Plan</h2>
						</header>
						<div class="row payment-plan">
							<div class="col-sm-12 col-md-6">
								<a href="javascript:void(0)" class="box-payment one-time-payment selected">
									<h5>One Time Payment<br><span>( Recommended )</span></h5>
									<h4>$950 <small>/ 12 weeks</small></h4>
									<span class="save-percent">Save 36.66%</span>
									<div class="radiobox"><span></span></div>
								</a>
							</div>
							<div class="col-sm-12 col-md-6">
								<a href="javascript:void(0)" class="box-payment monthly-payment">
									<h5>Monthly Payment</h5>
									<h4>$375 <small>/ 4 weeks</small></h4>
									<span class="save-percent">Save 0%</span>
									<div class="radiobox"><span></span></div>
								</a>
							</div>
						</div>
						<div class="premium-subscription-paypal hidden">						
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="J6CUL4BEV55FG">
								<input type="submit" class="btn-big btn-green"  name="submit" value="Checkout" /><br/>
								<img src="<!--{$imagePath}-->plans/logo-payment-carts.png" alt="">
								<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
							</form>
						</div>
						<div class="premium-onetime-paypal">
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="4CRXCJANUYEFS">
							<input type="submit" class="btn-big btn-green"  name="submit" value="Checkout" /><br/>
							<img src="<!--{$imagePath}-->plans/logo-payment-carts.png" alt="">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
							</form>
							
						</div>
						
					</div>
					
				</div>
			</div>